body {
  background: #000;
  font-family: 'PT Sans', 'lucida grande', sans-serif;
  position: relative;
  font-size: 100%;
}

h1, h2, h3, h4, h5, h6, p, a, li {
  font-family: 'PT Sans', 'lucida grande', sans-serif;
  font-weight: normal;
  color: rgba(255,255,255,0.4);
}

nav {
    position: fixed;
    top: 357px;
    /* background: yellow; */
    width: 100%;
    padding-left: 4em;
    left: 0;
}

nav ul {
  text-decoration: none;
  padding: 0;
  margin: 0;
  /* text-align: center; */
}

nav li {
  list-style: none;
  display: inline-block;
}

nav a {
  display: inline-block;
  font-family: sans-serif;
  font-weight: 100;
  border-top: 2px solid black;
  font-size: 1.3em;
  width: 1200px / 7;
  padding: 0 1.2em;
  text-decoration: none;
}

nav a:hover {
  border-top: 2px solid rgba(226, 99, 191, 0.6);
}

.hero-image {
  position: fixed;
  right: 0;
  top: 0px;
  min-width: 100%;
  min-height: 100%;
  width: auto; height: auto; z-index: -50;
  background-size: cover;
  display: none;
}

nav a:hover + .code-img {
  background: url('images/code.png');
  display: block;
}

nav a:hover + .design-img,
nav a:hover + .video-img {
  display: block;
  z-index: -100;
}


.screen-cover {
  background: rgba(0,0,0,0.35);
  position: fixed;
  border-radius: 5px;
  border-top: 1px solid #3088ff;
  border-bottom: 1px solid #0067cd;
  border-left: 1px solid #1b94ff;
  border-right: 1px solid #0080ff;
  z-index: -1;
  left: 1%;
  top: 2%;
  height: 96%;
  width: 98%;
}

.logo {
  position: fixed;
  right: 3%;
  top: 5%;
}
.logo img {
  width: 20%;
  float: right;
}


.worked-status {
    right: 16%;
    top: 20%;
    color: #476f65;
    border-top: 1px solid #476f65;
    padding-top: 5px;
    position: absolute;
    font-size: 0.8em;
}

video#bgvid {
  position: fixed;
  right: 0;
  top: 0px;
  min-width: 100%;
  min-height: 100%;
  width: auto; height: auto; z-index: -100;
  background: black;
  background-size: cover;
}

textarea#styled {
  width: 1600px;
  height: 1200px;
  border: 3px solid #cccccc;
  padding: 5px;
  font-family: Tahoma, sans-serif;
  background-image: url(643.gif);
  background-position: bottom right;
  background-repeat: no-repeat;
  font-size: 4em;
  font-family: courier;
}

.text-copy {
  color: white;
  width: 30em;
  padding: 2em 4em;
  z-index: 100;
}
